.contenedorIniciarCrearSesion{
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 1rem 2rem 0 0;
}

.iniciar, .crear, .o{
    border: none;
    outline: none;
    background-color: #f8f8f8;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    height: 18px;
}

.o{
    font-size:1.1rem ;
}

.nombreSesion{
    font-size: 1.5rem;
    font-family: "Josefin Sans", sans-serif;

}

.cerrarSesion{
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
}

.imgCerrarSesion{
    width: 20px;
}