.tituloResumen{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: "Libre Franklin", sans-serif;
}

.contenedorItemsCheckout{
    display: flex;
}

.contenedorDetailsCheckout{
    width: 50%;
}

.checkoutItem{
    display: flex;
    gap: 5rem;
    font-family: "Josefin Sans", sans-serif;
    justify-content: center;
    border-bottom: 1px dotted black;
}

.itemTotal{
    font-size: 2rem;
}
.detailsCheckout{
    display: flex;
    justify-content: space-around;
    margin: 4rem 0 0 4rem ;
    gap: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;

}

.detailName{
    min-width: 100px;
}